
/* Transfer the daisyui styles in to the cookieconsent variables */
#cc-main {
    /* See cookieconsent.css for the rest of the variables*/
    --cc-font-family: var(--font-family);

    --cc-btn-primary-color: var(--color-primary-content);
    --cc-btn-primary-bg: var(--color-primary);
    --cc-btn-primary-border-color: var(--cc-btn-primary-bg);
    --cc-btn-primary-hover-bg: color-mix(in oklab, var(--color-primary, var(--color-base-200)), #000 7%);
    --cc-btn-primary-hover-border-color: var(--cc-btn-primary-hover-bg);
    --cc-btn-primary-hover-color: var(--color-primary-content);

    --cc-btn-secondary-color: var(--color-secondary-content);
    --cc-btn-secondary-bg: var(--color-secondary);
    --cc-btn-secondary-border-color: var(--cc-btn-secondary-bg);
    --cc-btn-secondary-hover-bg: color-mix(in oklab, var(--color-secondary, var(--color-base-200)), #000 7%);
    --cc-btn-secondary-hover-border-color: var(--cc-btn-secondary-hover-bg);
    --cc-btn-secondary-hover-color: var(--color-secondary-content);

    --cc-btn-border-radius: var(--radius-field);
    --cc-modal-border-radius: var(--radius-field);

    --cc-bg: var(--color-base-100);
    --cc-primary-color: var(--color-primary);
    --cc-secondary-color: var(--color-secondary);

    /** Also make toggles the same color as the button **/
    --cc-toggle-on-bg: var(--cc-btn-primary-bg);
}
