@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, corporate;
}
@plugin "daisyui/theme" {
  name: corporate;
  default: true;

  --border: 1px;
}

:root {
  --font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
  --sl-font-sans: var(--font-family);

  font-family: var(--font-family), sans-serif;
  line-height: 1.5;
  font-weight: 600;

  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-rows: 150px 1fr 50px;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
  transition: grid-template-columns 0.5s ease;
}

.grid-area-header { grid-area: header; }
.grid-area-nav { grid-area: nav; }
.grid-area-main { grid-area: main; }
.grid-area-footer { grid-area: footer; }

/* Hide the nav when the collapse-nav class is added to it */
body.collapse-nav { grid-template-columns: 0 1fr; }
.collapse-nav .hide-if-collapse-nav { opacity: 0; transition: opacity 10s ease; }
.show-if-collapse-nav { opacity: 0; pointer-events: none; visibility: hidden; }
.collapse-nav .show-if-collapse-nav { opacity: 1; transition: opacity 1s ease; pointer-events: auto; visibility: visible; }